# Django
DJANGO_SECRET_KEY=use-django.core.management.utils.get_random_secret_key-to-generate
DJANGO_DEBUG=True

# PostgreSQL
DB_NAME=aurora
DB_USER=aurora_user
DB_PASSWORD=replace-with-strong-password-for-production
DB_HOST=127.0.0.1
DB_PORT=5432